.container {
  position: relative;
}

.visibleSidebar,
.hiddenSidebar {
  background-color: var(--color-primary);
  height: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 320px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  transition: transform 300ms;
  transform: translateX(-100%);
}

.visibleSidebar {
  transform: translateX(0);
}

.sidebarTitle {
  background-color: var(--color-shade-medium);
  margin: 0;
  padding: 0.75rem;
  text-align: center;
  font-weight: var(--weight-bold);
  font-size: var(--size-medium);
  color: var(--color-copy);
}

.main {
  padding: 42px;
  flex-grow: 1;
  max-height: 100vh;
  overflow-y: auto;
}

@media (min-width: 800px) {
  .container {
    display: flex;
  }

  .visibleSidebar,
  .hiddenSidebar {
    position: relative;
    transform: translate(0);
  }
}
