.container {
  position: relative;
}

.sidebar {
  background-color: var(--color-primary);
  height: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 320px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  transition: transform 300ms;
  transform: translateX(-100%);
}

.sidebar.isSidebarVisible {
  transform: translateX(0);
}

.sidebarTitle {
  background-color: var(--color-shade-medium);
  margin: 0;
  padding: 0.75rem;
  text-align: center;
  font-weight: var(--weight-bold);
  font-size: var(--size-medium);
  color: var(--color-copy);
}

.scrollContainer {
  flex-grow: 1;
  overflow-y: auto;
}

.loadingMsg {
  padding: 2rem;
  text-align: center;
}

.loadingMsg svg {
  margin: 0.5rem auto;
  display: block;
}

.postsList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.loadOlderBtn {
  font-size: var(--size-medium);
  padding: 1rem;
}

.loadOlderBtn svg {
  vertical-align: middle;
  margin: -8px 4px -4px -38px;
}

.loadOlderBtn:hover,
.loadOlderBtn:focus {
  color: var(--color-accent);
}

.dismissAllBtn {
  padding: 0.75rem;
  background-color: var(--color-shade-light);
  color: var(--color-copy);
  font-size: var(--size-medium);
}

.dismissAllBtn:focus,
.dismissAllBtn:hover {
  color: var(--color-accent);
  background-color: var(--color-shade-medium);
}

.main {
  padding: 42px;
  flex-grow: 1;
  max-height: 100vh;
  overflow-y: auto;
}

.main h1 {
  margin: 0;
}

@media (min-width: 800px) {
  .container {
    display: flex;
  }

  .sidebar {
    position: relative;
    transform: translate(0);
  }
}
